/*panel-embrace-rehab*/
#to_do_panel{
  background-image: url(../img/background.png);
  background-size: cover;
}

#todoListBox{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0px 20px 40px 20px;
}

.panel-embrace-rehab{
	padding-top:0px;
	min-height: 96px;
	height:auto;
	width: 100%;
	text-align: left;
	border-radius: 8px;
	border:solid 1px #DDD;
}

.panel-heading{
  padding: 1em;

}

.todoDueTime{
	color:#E77C6E;
}

#chatBox{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0px 20px 40px 20px;
}


#inputBox{
	background-color: #EDEDED;
	height: 73px;
	width :52%;
	margin-left: 50%;
	padding: 20px;
    position: fixed;
    z-index: 99;
    left: 0px;
    bottom:0px;
}

#sendText{
  padding-top: 8px;
	color: #9B9B9B;
  text-align: center;
  font-size: 1.6em;
}

#inputBar{
  border: 1px solid #ccc;
  border-radius: 4px;
  height:72px;
  font-size: 1.6em;
}

.chats{
	width: 80%;
	border-radius: 10em;
	position: relative;
	padding: 10px 2em 10px 2em;
	margin: 2em 0px 2em 0px;
}

.receive{
	border-bottom-left-radius: 0px !important;
	left:0px;
	background-color: #CCC;
	color: #4A4A4A;
}

.send{
	border-bottom-right-radius: 0px !important;
	left:20%;
	background-color: #E77C6E;
	color:#FFF;
}

.broadcast{
  left:5%;
  border-style: none;
  box-shadow: none;
  background-color: transparent;
  margin: auto;
  width: 100%;
}

.kc_fab_main_btn{
	position: fixed;
	left: 40%;
	bottom: 5%;
	z-index: 999;
  background-color:#E77C6E;
  border-radius:50%;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#newTodoList{
	display: none;
	position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.97;
    z-index: 999;
    background-color: #EFEFF4	;
}

#progressPage{
	display: none;
	position: fixed;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 999;
    /*background-color:#ffffff;*/
    background-color: #3A4651;
}

#cancelBtn{
	font-weight: lighter;
	color: white;
	position:absolute;
	top:30%;
	left: 5%;
}

#addToParseBtn{
	font-weight: lighter;
	color: white;
	position:absolute;
	top:30%;
	right: 5%;
}

#status{
	font-weight: bold;
	color: white;
	text-align: center;
}

#inputForm{
	position:fixed;
	top:118px;
}

.add_a_todo{
	/*background-color: transparent;*/
    border: 0px ;
    height: 80px;
    width: 400%;
    color: #CCC;
    font-size: 2.5em;
    padding-left: 3.5em;
    margin-top: 1.5em;
}

.inputStyle1{
	background-color: transparent;
    border: 0px ;
    border-bottom: solid;
    height: 80px;
    width: 80%;
    color: #CCC;
    font-size: 2.5em;
    margin-left: 3.5em;
    margin-top: 2em;	
}

.inputStyle{
	background-color: transparent;
    border: 0px ;
    border-bottom: solid;
    height: 80px;
    width: 80%;
    color: #CCC;
    font-size: 2.5em;
    margin-left: 3.5em;
    margin-top: 1em;	
}

.inputStyle2{
	background-color: transparent;
    border: 0px ;
    border-bottom: solid;
    height: 80px;
    width: 80%;
    color: #CCC;
    font-size: 2.5em;
    margin-left: 3.5em;
    margin-top: 6em;
    padding: 1em;	
}

#actionBtn{
  text-align: center;
  padding: 0px;
  width:78px;
  height:78px; 
}
